<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <input type="checkbox" [checked]="!showAuthor" (change)="showAuthor=!showAuthor"> Hide Author      
            <input type="checkbox" [checked]="!showIsbn" (change)="showIsbn=!showIsbn"> Hide ISBN       
            <input type="checkbox" [checked]="!showLang" (change)="showLang=!showLang"> Hide Language
            <div class="table table-responsive">
                <table class="table table-dark">
                    <thead class="thead-light">
                        <tr class="d-flex">
                            <th class="col-4" (click)="sort('title')">Title
                                <span class="glyphicon" *ngIf="key =='title'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="col-2" scope="col" *ngIf="showAuthor">Author
                                <span class="glyphicon" *ngIf="key =='authors'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="col-1" (click)="sort('average_rating')">Rating
                                <span class="glyphicon sort-icon" *ngIf="key =='average_rating'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="col-2" scope="col" *ngIf="showIsbn">ISBN</th>
                            <th class="col-1" scope="col" *ngIf="showLang">Language</th>
                            <th class="col-1" (click)="sort('price')">Price
                                <span class="glyphicon sort-icon" *ngIf="key =='price'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="col-1">Add to cart</th>
                        </tr>
                    </thead>
                    <tr class="d-flex" *ngFor="let temp of books | orderBy: key : reverse | filter:appcomponent.filter | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="col-4">{{ temp.title }}</td>
                        <td class="col-2" *ngIf="showAuthor">{{ temp.authors }}</td>
                        <td class="col-1">
                            <ngb-rating [max]="5" [(rate)]="temp.average_rating" [readonly]="false"></ngb-rating>
                            ({{ temp.ratings_count}})
                        </td>
                        <td class="col-2" style="text-align: left;"  *ngIf="showIsbn">{{ temp.isbn }}</td>
                        <td class="col-1" *ngIf="showLang">{{ temp.language_code }}</td>
                        <td class="col-1">{{ temp.price }}</td>
                        <td class="col-1" style="align-content: flex-end;">
                            <button class="btn btn-info" (click)="addToCart(temp)">Add</button>
                        </td>
                    </tr>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div>
        </div>
    </div>
</div>
