<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="table table-responsive">
                <table class="table table-dark">
                    <thead class="thead-light">
                        <tr class="d-flex">
                            <th class="col-4" (click)="sort('title')">Title
                                <span class="glyphicon" *ngIf="key =='title'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="col-3" (click)="sort('authors')">Author
                                <span class="glyphicon" *ngIf="key =='authors'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="col-2" (click)="sort('average_rating')">Rating
                                <span class="glyphicon" *ngIf="key =='average_rating'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>ISBN</th>
                            <th>Language</th>
                            <th (click)="sort('price')">Price
                                <span class="glyphicon sort-icon" *ngIf="key =='price'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>Add to cart</th>
                        </tr>
                    </thead>
                    <tr class="d-flex" *ngFor="let temp of books | orderBy: key : reverse | filter:appcomponent.filter | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="col-4">{{ temp.title }}</td>
                        <td class="col-3">{{ temp.authors }}</td>
                        <td class="col-2">{{ temp.average_rating}}
                            ({{ temp.ratings_count}})
                        </td>
                        <td style="text-align: left;">{{ temp.isbn }}</td>
                        <td>{{ temp.language_code }}</td>
                        <td>{{ temp.price }}</td>
                        <td style="align-content: flex-end;">
                            <button class="btn btn-info" (click)="sorting()">Add</button>
                        </td>
                    </tr>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div>
        </div>
    </div>
</div>